@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --color-light: #e3e3e3;
  --color-dark: #252525;
  --color-abu: #cecece;
  --color-biru: #162f65;
  --color-biru-terang: #3361ac;
  --color-biru-gelap: #0f2043;
  --color-kuning: #e8c766;
  --color-kuning-gelap: #e8af30;
}
